@font-face {
    font-family: Bison;
    src: url(fonts/Bison-Bold.ttf) format("opentype");
    font-weight: bold;
}

body {
    margin: 0;

    font-family: Bison, Helvetica;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 75px;

    position: absolute;

    width: 100vw;
    height: 25vh;

    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,228,196,1) 83%);

    border-bottom: 5px dotted black;
}

#title {
    padding-top: 15px;
    font-size: 3.25em;
}

#addbook {
    height: 150px;
    width: 75px;
    
    border-radius: 5px;
    border: 0;

    margin-bottom: 50px;

    background-color: black;
    color: white;
}

.main-content {
    padding-top: 255px;
    padding-left: 10px;
    padding-right: 10px;

    height: 75vh;
    width: 100vw;
}

#add-book-modal {
    margin: 0;

    opacity: 0;

    height: 0vh;
    width: 0vw;

    border: black 2px solid;
    border-radius: 25px;
}

.active {
    opacity: 1 !important;    
    height: 50vh !important;
    width: 20vw !important;    
    position: fixed;

    left: 38vw;
    top: 26vh;
}

form {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: column;
}

form > * {
    width: 50%;
}

#book-title {
    margin-top: 25px;
}

#display {
    display: flex;
    justify-content: left;
    gap: 50px;
    flex-direction: row;
}

.book-card {
    border: 5px brown solid;
}